<table class="table" data-controller="hello">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">e-mail</th>
			<th scope="col">First name</th>
			<th scope="col">Status</th>
			<th scope="col">Created at</th>
			<th scope="col"><input type="checkbox" data-action="click->hello#check_all"></th>
			<th scope="col">
				<div class="toolbar-actions">
					<span><%= fa_icon "trash-o"%></span>
					<span><%= fa_icon "unlock" %></span>	
					<span><%= fa_icon "lock" %></span>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr data>
				<td data-target="hello.user_id"><%= user.id %></td>
				<td><%= user.email %></td>
				<td><%= user.first_name %></td>
				<td><%= user.status %></td>
				<td><%= user.created_at %></td>
				<td><input type="Checkbox" data-target="hello.checkbox"></td>
				<td>
					<div class="toolbar-actions">
						<span><%= fa_icon "trash-o"%></span>
						<% if current_user.blocked? %>
							<span><%= fa_icon "unlock" %></span>
						<% else %>
							<span><%= fa_icon "lock" %></span>
						<% end %>
					</div>
				</td>
			</tr>

		<% end %>
	</tbody>
</table>